body {
  background-color: lightblue;
  width: 500px;
}

#title {
  color: purple;
  text-align: center;
}

input {
  display: block;
  margin-bottom: 10px;
}

#note-content {
  width: 500px;
}

button {
  background-color: blue;
  color: white;
  width: 100px;
}